@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.pagination {
  display: flex;
  gap: var(--margin-xs);
  align-items: center;
  width: fit-content;
  margin: auto;
}

.countList {
  display: flex;
  gap: var(--margin-xs);
  align-items: center;
}

.page {
  width: rem(36);
  height: rem(36);

  a,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: rem(2);
  }
}

.prev,
.next {
  width: rem(32);
  height: rem(32);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    svg {
      display: block;
      width: rem(20);
      height: rem(20);
    }
  }
}

.omission {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(32);
}

.current {
  color: var(--color-primary);
}

@media (hover: hover) {
  .page a:hover {
    background-color: var(--color-border);
    border-radius: rem(4);
  }

  .prev a:hover,
  .next a:hover {
    background-color: var(--color-border);
    border-radius: rem(4);
  }
}
