@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.main {
  width: 100%;
  max-width: calc(rem(640) + var(--margin-l) * 2);
  padding: 0 var(--margin-l);
  margin: auto;
}

.link {
  display: inline-flex;
  gap: 0.1em;
  align-items: center;
  text-decoration: underline;

  svg {
    width: 1em;
    height: 1em;
  }
}

@media (hover: hover) {
  .link:hover {
    color: var(--color-primary);
    text-decoration: none;
  }
}

.description {
  margin-bottom: var(--margin-xl);
}

.section {
  margin-bottom: var(--margin-xl);
}

.h1 {
  margin-block: var(--margin-l);
  font-size: var(--font-size-heading-1);
  font-weight: 600;
  line-height: var(--line-height-heading-1);
}

.h2 {
  margin-block: var(--margin-l);
  font-size: var(--font-size-heading-2);
  font-weight: 600;
  line-height: var(--line-height-heading-2);
}

.h3 {
  margin-top: var(--margin-l);
  margin-bottom: var(--margin-m);
  font-size: var(--font-size-heading-3);
  font-weight: 600;
  line-height: var(--line-height-heading-3);
}

.h4 {
  margin-block: var(--margin-m);
  font-size: var(--font-size-heading-4);
  font-weight: 600;
  line-height: var(--line-height-heading-4);
}

.p-base {
  margin-block: var(--margin-s);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.p-large {
  margin-block: var(--margin-s);
  font-size: var(--font-size-large);
  line-height: var(--line-height-base);
}

.p-small {
  margin-block: var(--margin-s);
  font-size: var(--font-size-small);
  line-height: var(--line-height-base);
}

.border-bottom {
  padding-bottom: var(--margin-xs);
  border-bottom: rem(1) solid var(--color-border);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: var(--margin-l);
  font-weight: 600;
  color: var(--color-background);
  background-color: var(--color-text);

  &[data-size="xxl"] {
    height: var(--margin-xxl);
    font-weight: 600;
  }

  &[data-size="xl"] {
    height: var(--margin-xl);
  }

  &[data-size="l"] {
    height: var(--margin-l);
  }

  &[data-size="m"] {
    height: var(--margin-m);
  }

  &[data-size="s"] {
    height: var(--margin-s);
  }

  &[data-size="xs"] {
    height: var(--margin-xs);
  }

  &[data-size="xxs"] {
    height: var(--margin-xxs);
  }
}

.palletList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(120), 1fr));
  gap: var(--margin-l);
}
