@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  padding: 0 0 var(--margin-xl);
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  background-color: var(--color-background);
  border: none;

  &::backdrop {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--margin-m);
}

.header__links {
  display: flex;
  gap: var(--margin-m);
  align-items: center;
  padding-right: rem(52);
}

.nav {
  padding: var(--margin-l) var(--margin-xl);
  margin-top: var(--margin-xl);
  font-size: var(--font-size-large);
  font-weight: 600;

  ul {
    display: grid;
    gap: var(--margin-m);
  }
}

.logo {
  font-size: var(--font-size-heading-3);
  font-weight: 600;
}

.close {
  position: absolute;
  top: rem(16);
  right: rem(12);
  display: block;
  width: rem(40);
  height: rem(40);
  background-color: var(--color-text);
  border-radius: rem(4);

  span {
    position: absolute;
    inset: 0;
    display: block;
    width: rem(24);
    height: rem(2);
    margin: auto;
    background-color: var(--color-background);
    border-radius: rem(1);

    &:first-child {
      rotate: 30deg;
    }

    &:last-child {
      rotate: -30deg;
    }
  }
}

.stack {
  padding: 0 var(--margin-m);
  margin-top: var(--margin-xl);
  margin-left: var(--margin-xs);
  font-size: var(--font-size-small);
  color: var(--color-text);

  ul {
    display: grid;
    gap: var(--margin-xs);
  }

  svg {
    position: relative;
    width: rem(12);
    height: rem(12);
    margin-left: var(--margin-xxs);
  }

  a {
    text-decoration: underline;
  }
}

.stack__title {
  margin-bottom: var(--margin-s);
}

.social {
  display: flex;
  gap: var(--margin-s);
  width: fit-content;
  padding: 0 var(--margin-m);
  margin-top: var(--margin-l);
  color: var(--color-text);

  a {
    display: flex;
    gap: rem(4);
    align-items: center;
    justify-content: space-between;
    width: rem(24);
    height: rem(24);
  }
}

@media (hover: hover) {
  .drawer__nav a:hover {
    color: var(--color-primary);
  }

  .stack a:hover {
    color: var(--color-primary);
    text-decoration: none;
  }

  .social a:hover {
    color: var(--color-primary);
  }
}
