@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;

  // background-color: var(--color-header);
  // backdrop-filter: blur(rem(10));
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--margin-m);

  // background-color: var(--color-header);
  // backdrop-filter: blur(rem(10));
}

.header__links {
  display: flex;
  gap: var(--margin-m);
  align-items: center;
}

@media (hover: hover) {
  .header a:hover {
    color: var(--color-primary);
  }
}

.links {
  display: flex;
  gap: var(--margin-m);
  align-items: center;
}

.name {
  font-size: var(--font-size-heading-3);
  font-weight: 600;
}

// .menuButton {
//   display: none;
// }
// @include mq-lt("sm") {
//   .nav {
//     display: none;
//   }

.menuButton {
  position: relative;
  display: block;
  width: rem(40);
  height: rem(40);
  background-color: var(--color-secondary);
  border-radius: rem(4);

  span {
    position: absolute;
    inset: 0;
    display: block;
    width: rem(20);
    height: rem(2);
    margin: auto;
    background-color: var(--color-background);
    border-radius: rem(1);

    &:first-child {
      translate: 0 rem(-4);
    }

    &:last-child {
      translate: 0 rem(4);
    }
  }
}

// }
