@use "@/styles/variables" as var;
@use "@/styles/extension" as *; 

.navList {
  display: flex;
  gap: var(--margin-m);
  padding: 0;
  margin: 0;
  font-size: var(--font-size-heading-5);
  font-weight: 400;
  list-style: none;

  @media (hover: hover) {
    a:hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}

@include mq-lt("sm") {
  .nav {
    display: none;
  }
}
